
.navbar-custom {
    background-color: rgb(238, 238, 238);
}

.navbar-custom i {
    color: rgb(19, 19, 19);
}

.navbar-custom a:hover i {
    color: rgb(223, 41, 102);
}

.navbar-container img {
    max-height: 25px;
}

.content-center h1, h3 {
    color: rgb(223, 41, 102);
    font-weight: bold;
    background-color: rgb(19, 19, 19);
}

.content-center h1 {
    color: rgb(240, 233, 235);
}

@media screen and (max-width: 991px) {
    .sidebar-collapse .navbar-collapse:before {
        background: linear-gradient(rgb(223, 41, 102), rgb(231, 136, 48));
    }
}