.body {
    background: rgb(238, 238, 238);
}

/* Was already present in starter html as inline style, moved to css */
.navbar .navbar-nav .nav-link:not(.btn) i.fa{
    font-size: 18px;
    position: relative;
    top: 3px;
    text-align: center;
    width: 21px;
}

.btn-primary:hover, .btn-primary:not(:disabled):not(.disabled):active:focus {
    background-color: rgb(223, 41, 102);
    color: rgb(19, 19, 19);
    font-size: 18px;
    font-weight: bold;
    box-shadow: none;
}

.button-read-more, .button-read-more:focus, .button-read-more:active  {
    background-color: rgba(223, 41, 102, 0.85);
    color: rgb(19, 19, 19);
    font-size: 18px;
    font-weight: bold;
}

.navbar-custom {
    background-color: rgb(238, 238, 238);
}

.navbar-custom i {
    color: rgb(19, 19, 19);
}

.navbar-custom a:hover i {
    color: rgb(223, 41, 102);
}

.navbar-container img {
    max-height: 25px;
}

.content-center h1, h4 {
    color: rgb(223, 41, 102);
    background-color: rgb(19, 19, 19);
}

.content-center h1 {
    color: rgb(240, 233, 235);
}

.how-to-container img {
    max-height: 400px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.how-to-image-container{
    display: flex;
    justify-content: center;
}

.how-to-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-up-button {
    background-color: rgb(223, 41, 102);
    color: rgb(238, 238, 238);
    font-size: 16px;
}

@media screen and (max-width: 991px) {
    .sidebar-collapse .navbar-collapse:before {
        background: linear-gradient(rgb(223, 41, 102), rgb(231, 136, 48));
    }
}